streamlit           # User Interface
plotly              # Dashboard Visualization
schedule            # Schedule Simulator
email-validator     # Validate Email Address
fastapi             # Backend API
uvicorn             # Backend Server Connection
psycopg2-binary     # PostgresSQL/Python Library